$website-width: 1220px;
$primary-color: #c3232a;
$dark-color: #000;
$dark-gray-color: #5a6577;
$light-gray-color: #9ca9be;
$placeholder-color: #d0d3d6;
$icon-color: rgb(133, 135, 139);
$background-color: #f5f6f7;
$seperator-color: #e6e8eb;
$white-color: #fff;


//font
// $font-family-primary: 'Rubik', sans-serif;