$website-width: 1220px;
$primary-color: #c3232a;
$dark-color: #000;
$icon-color: rgb(82, 84, 88);
$background-color: #f5f6f7;
$seperator-color: #e6e8eb;
$white-color: #fff;


//font
// $font-family-primary: 'Rubik', sans-serif;