.container{
  max-width: $website-width ;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}


.current{
  border-bottom: 2px $dark-color solid;
  // padding-bottom: 1rem;
  // padding: 0 5rem;
  // bottom: 2rem;
}