@import "config";
@import "utilities";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", arial, "Noto Sans", sans-serif;
  line-height: 1.6;
  background: $background-color;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  // text-transform: uppercase;
}

//header
#header-home {
  background: $white-color;
  border-bottom: 1px $seperator-color solid;

  .big-header {
    display: grid;
    grid-template-columns: 1fr 7fr 2fr;
    padding: 0.5rem;
    align-items: center;

    a {
      // text-align: left;
      // align-items: center;
      img {
        // align-items: left;
        text-align: left;
        height: 40px;
      }
    }

    .searchbar {
      align-items: center;
      text-align: left;
      margin-left: 1rem;
      .search-input {
        width: 85%;
        padding: 0 17px;
        height: 2.5rem;
        border: 2px $primary-color solid;
        border-radius: 5px 0 0 5px;

        &::placeholder {
          color: $placeholder-color;
        }

        &:focus {
          outline: none;
          border: 2px solid $primary-color;
        }
      }

      .search-icon {
        background: $primary-color;
        height: 2.5rem;
        padding: 0 29px;
        border: 2px $primary-color solid;
        border-radius: 0 5px 5px 0;
        margin-left: -6px;
        color: $white-color;
        cursor: pointer;

        &:focus {
          outline: none;
          border: 2px solid $primary-color;
        }

        .icon-bar {
          size: 1rem;
        }
      }
    }
    .icon-item {
      display: flex;
      justify-self: end;

      .item {
        padding: 0.75rem;
        border: none;
        align-items: center;

        .icons {
          border: none;
          background: $white-color;
          color: $icon-color;
          cursor: pointer;
          font-size: 1.5rem;
        }
      }

      .separate {
        padding: 1.1rem 0.4rem;
        color: $seperator-color;
      }
    }
  }
}

#main-nav {
  background: $white-color;

  .navber {
    display: grid;
    grid-template-columns: 1fr 6fr 4fr;
    // padding: 0.3rem;
    align-items: center;
    border-left: 1px $seperator-color solid;

    #main-box {
      font-size: 24px;
      align-items: center;
      text-align: center;
      cursor: pointer;
      color: $dark-gray-color;
    }

    .side-menu {
      position: fixed;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 0px;
      background: $white-color;
      border-right: 1px $seperator-color solid;
      z-index: 1;
      padding-top: 100px;
      overflow-x: hidden;

      .logo-img {
        position: absolute;
        top: 1.5rem;
        left: 25px;
        //  margin-left: 32px;
      }

      .balance {
        border-top: 1px $seperator-color solid;

        .border-all {
          margin: 1rem;
          border: 1px $seperator-color solid;
          border-radius: 5px;

          .balance-box {
            text-align: center;
            border-bottom: 1px $seperator-color solid;
            padding: 1rem;
          }

          .log-in {
            padding: 1rem;
            text-align: center;
            //  width: 100%;

            .login-btn {
              width: 100%;
              padding: 10px 20px;
              border: 1px $primary-color solid;
              color: $primary-color;
              background: $primary-light-color;
              border-radius: 5px;
              cursor: pointer;

              &:focus {
                outline: none;
                border: 1px solid $primary-color;
              }
            }
          }
        }
      }

      li {
        a {
          //  font-size: 20px;
          // position: absolute;
          padding: 0.75rem 1.5rem;
          color: $dark-color;
          display: block;
          align-items: center;

          &:hover {
            background-color: $background-color;
          }

          .icon-space {
            margin-right: 0.75rem;
            align-items: center;
          }

          .arrow-btn {
            position: absolute;
            right: 2rem;
            align-items: center;
            margin-top: 0.4rem;
          }
        }
      }

      .close-btn {
        position: absolute;
        top: 0px;
        right: 25px;
        font-size: 36px;
        margin-left: 32px;
      }
    }

    .nav-item-1 {
      border-left: 1px $seperator-color solid;
      ul {
        display: flex;
        justify-self: left;

        :first-child {
          margin-left: 1rem;
        }

        li {
          padding: 0.75rem 1.3rem;
          // margin-left: 0.5rem;
          // font-weight: bold;

          a {
            color: $dark-gray-color;
            font-size: 0.95rem;

            &:hover {
              color: $placeholder-color;
            }
          }
        }
      }
    }

    .nav-item-2 {
      border-left: 1px $seperator-color solid;
      ul {
        display: flex;
        justify-self: end;

        :first-child {
          margin-left: 1rem;
        }

        li {
          padding: 0.75rem 1.4rem;
          // font-weight: bold;

          a {
            color: $dark-gray-color;
            font-size: 0.95rem;

            &:hover {
              color: $placeholder-color;
            }
          }
        }
      }
    }
  }
}

.slider {
  padding-top: 1rem;
  margin-bottom: 5rem;
  width: 100%;
  height: 380px;

  img {
    height: 400px;
  }
}

.slick-dots li button {
  color: #fff !important;
}
.slick-dots li button:before {
  font-size: 3rem !important;
  color: #fff !important;
}
.slick-dots li button:after {
  font-size: 3rem !important;
  color: #fff !important;
}

// text-align: center;
// align-items: center;
// font-size: 1.5rem;

// .active {
//   width: 300px;
// }

#grocery {
  margin: 2rem 0;

  .grocery-card {
    display: flex;
    justify-content: space-between;
  }
}

// Jquery Tabs
.tab-content {
  display: none;
}
.tab-content.active {
  display: block;
  // border-bottom: 1px red solid;
}

.tab-items {
  display: flex;
  justify-content: space-between;
  background: $white-color;
  border-radius: 8px;
  // padding-top: 0.5;
  padding: 1rem;
  margin-bottom: 2rem;
  

  a{
   
    margin:  0 10rem;
    color: $dark-color;
    align-items: center;
    
  }
}


.categories{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  .product-card{
    background: $white-color;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;

    .product-img{
      padding: 1rem;
      height: 114px;
      width: 114px;
    }

    .product-name{
      padding: 12px 0;
      text-align: center;
      font-size: 1rem;
    }
  }
}
