@import "config";
@import "utilities";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Helvetica Neue", arial, "Noto Sans", sans-serif;
  line-height: 1.6;
  background: $background-color;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  // text-transform: uppercase;
}

//header
#header-home {
  background: $white-color;
  border-bottom: 1px $seperator-color solid;

  .big-header {
    display: grid;
    grid-template-columns: 1fr 7fr 2fr;
    padding: 0.5rem;
    align-items: center;

    a {
      // text-align: left;
      // align-items: center;
      img {
        // align-items: left;
        text-align: left;
        height: 40px;
      }
    }

    .searchbar {
      align-items: center;
      text-align: left;
      margin-left: 1rem;
      .search-input {
        width: 85%;
        padding: 0 17px;
        height: 2.5rem;
        border: 2px $primary-color solid;
        border-radius: 5px 0 0 5px;

        &::placeholder {
          color: $placeholder-color;
        }

        &:focus {
          outline: none;
          border: 2px solid $primary-color;
        }
      }

      .search-icon {
        background: $primary-color;
        height: 2.5rem;
        padding: 0 29px;
        border: 2px $primary-color solid;
        border-radius: 0 5px 5px 0;
        margin-left: -6px;
        color: $white-color;
        cursor: pointer;

        &:focus {
          outline: none;
          border: 2px solid $primary-color;
        }

        .icon-bar {
          size: 1rem;
        }
      }
    }
    .icon-item {
      display: flex;
      justify-self: end;

      .item {
        padding: 0.75rem;
        border: none;
        align-items: center;

        .icons {
          border: none;
          background: $white-color;
          color: $icon-color;
          cursor: pointer;
          font-size: 1.5rem;
        }
      }

      .separate {
        padding: 1.1rem 0.4rem;
        color: $seperator-color;
      }
    }
  }
}



//navber
#main-nav {
  background: $white-color;

  .navber {
    display: grid;
    grid-template-columns: 1fr 6fr 4fr;
    // padding: 0.3rem;
    align-items: center;
    border-left: 1px $seperator-color solid;


    //side navber
    #main-box {
      font-size: 24px;
      align-items: center;
      text-align: center;
      cursor: pointer;
      color: $dark-gray-color;
    }

    .side-menu {
      position: fixed;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 0px;
      background: $white-color;
      border-right: 1px $seperator-color solid;
      z-index: 1;
      padding-top: 100px;
      overflow-x: hidden;

      .logo-img {
        position: absolute;
        top: 1.5rem;
        left: 25px;
        //  margin-left: 32px;
      }

      .balance {
        border-top: 1px $seperator-color solid;

        .border-all {
          margin: 1rem;
          border: 1px $seperator-color solid;
          border-radius: 5px;

          .balance-box {
            text-align: center;
            border-bottom: 1px $seperator-color solid;
            padding: 1rem;
          }

          .log-in {
            padding: 1rem;
            text-align: center;
            //  width: 100%;

            .login-btn {
              width: 100%;
              padding: 10px 20px;
              border: 1px $primary-color solid;
              color: $primary-color;
              background: $primary-light-color;
              border-radius: 5px;
              cursor: pointer;

              &:focus {
                outline: none;
                border: 1px solid $primary-color;
              }
            }
          }
        }
      }

      li {
        a {
          //  font-size: 20px;
          // position: absolute;
          padding: 0.75rem 1.5rem;
          color: $dark-color;
          display: block;
          align-items: center;

          &:hover {
            background-color: $background-color;
          }

          .icon-space {
            margin-right: 0.75rem;
            align-items: center;
          }

          .arrow-btn {
            position: absolute;
            right: 2rem;
            align-items: center;
            margin-top: 0.4rem;
          }
        }
      }

      .close-btn {
        position: absolute;
        top: 0px;
        right: 25px;
        font-size: 36px;
        margin-left: 32px;
      }
    }


    //outside navber
    .nav-item-1 {
      border-left: 1px $seperator-color solid;
      ul {
        display: flex;
        justify-self: left;

        :first-child {
          margin-left: 1rem;
        }

        li {
          padding: 0.75rem 1.3rem;
          // margin-left: 0.5rem;
          // font-weight: bold;

          a {
            color: $dark-gray-color;
            font-size: 0.95rem;

            &:hover {
              color: $placeholder-color;
            }
          }
        }
      }
    }

    .nav-item-2 {
      border-left: 1px $seperator-color solid;
      ul {
        display: flex;
        justify-self: end;

        :first-child {
          margin-left: 1rem;
        }

        li {
          padding: 0.75rem 1.4rem;
          // font-weight: bold;

          a {
            color: $dark-gray-color;
            font-size: 0.95rem;

            &:hover {
              color: $placeholder-color;
            }
          }
        }
      }
    }
  }
}


//slider
.slider {
  padding-top: 1rem;
  margin-bottom: 5rem;
  width: 100%;
  height: 380px;

  img {
    height: 400px;
  }
}

.slick-dots li button {
  color: #fff !important;
}
.slick-dots li button:before {
  font-size: 3rem !important;
  color: #fff !important;
}
.slick-dots li button:after {
  font-size: 3rem !important;
  color: #fff !important;
}

// text-align: center;
// align-items: center;
// font-size: 1.5rem;

// .active {
//   width: 300px;
// }

//grocery card
#grocery {
  margin: 2rem 0;

  .grocery-card {
    display: flex;
    justify-content: space-between;
  }
}




// Jquery Tabs
.tab-content {
  display: none;
  // border-bottom: 1px red solid;
}
.tab-content.active {
  display: block;
  // border-bottom: 1px red solid;
}

.tab-items {
  display: flex;
  justify-content: space-between;
  background: $white-color;
  border-radius: 8px;
  // padding-top: 0.5;
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0px 1px 4px 1px $seperator-color;
  

  a{
   
    margin:  0 10rem;
    color: $dark-color;
    align-items: center;
    
  }
}

//categorires
.categories{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  a{
    color: $dark-color;
  }

  .product-card{
    background: $white-color;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 1px 4px 1px $seperator-color;

    .product-img{
      padding: 1rem;
      height: 114px;
      width: 114px;
    }

    .product-name{
      padding: 12px 0;
      text-align: center;
      font-size: 1rem;
    }
  }
}


//brands

.search-bar{
  margin-bottom: 1rem;
  // margin-left: 1rem;
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;

  .search-input{
    background: $white-color;
    padding: 0 17px;
    height: 2.7rem;
    width: 19%;
    border: 1px $seperator-color solid;
    border-radius: 8px 0 0 8px;

    &::placeholder {
      color: $placeholder-color;
    }

    &:focus {
      outline: none;
    }
  }

  .search-icon{
    padding: 0 29px;
    height: 2.6rem;
    background: $dark-light-color;
    // border: 1px $dark-gray-color solid;
    border: none;
    border-radius: 0 8px 8px 0;
    color: $white-color;
    cursor: pointer;
    // margin-left: -6px;
    // margin-right: 1rem;

    &:focus {
      outline: none;
    }
  }
}

.brands{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  a{
    color: $dark-color;
  }

  .brand-card{
    background: $white-color;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 1px 4px 1px $seperator-color;

    .brand-img{
      padding: 2rem;
      height: 78px;
      width: 78px;
      border: 2px #ECF3F9 solid; 
      border-radius: 8px;
    }

    .brand-name{
      padding: 12px 0;
      text-align: center;
      font-size: 1rem;
    }
  }
}


//shop

.shops{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  a{
    color: $dark-color;
  }

  .shop-card{
    background: $white-color;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0px 1px 4px 1px $seperator-color;

    .shop-img{
      padding: 2rem;
      height: 75px;
      width: 78px;
      border-bottom: 2px #ECF3F9 solid;
    }

    .shop-name{
      padding: 12px 0;
      text-align: center;
      font-size: 1.1rem;
    }

  }
}






//product-page
#single-page{
  margin-top: 1rem;

  .all-details{
    background: $white-color;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding-bottom: 2rem;

    .single-product{
      margin: 2rem;
      padding-left: 4rem;
      img{
        width: 350px;
        height: 350px;
      }
    }

    .product-details{
      padding: 1rem 2rem 0 0;

      p{
        color: #757575;
        line-height: 1.7rem;
      }

      a{
        color: $primary-color;
      }

      .product-title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1rem;
      }

      .price{
        border-top: 1px $seperator-color solid;
        border-bottom: 1px $seperator-color solid;
        margin-top: 0.75rem;

        h3{
          margin-top: 1rem;
        }

        .cart-check{
          padding-top: 1rem;
          margin-bottom: 1rem;
          text-align: center;

          .cart-btn{
            width: 100%;
            background: $primary-color;
            color: $white-color;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 1rem;

            i{
              font-size: 1.1rem;
              margin-right: 0.57rem;
            }

            &:focus {
              outline: none;
            }
          }
        }
      }

      .question{
        padding: 1rem 0;
        border-bottom: 1px $seperator-color solid;
        margin-bottom: 1rem;

        h3{
          color: #E53E3E;
          
          i{
            padding-right: 0.5rem;
          }
        }
      }


    }
  }
}




//footer
#main-footer{
  background: #333E4F;
  margin-top: 2rem;

  .big-footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin: 4rem 0 0 0;
    padding-bottom: 3rem;
    border-bottom: 1px #2c343d solid;

    h3{
      color: #9CA9BE;
      padding-bottom: 1rem;
    }

    .download{
      text-align: left;

      .box-1{
        padding-top: 0.5rem;
        img{
        width: 130px;
        height: 35px;
        }
      }

      .box-2{
        img{
        width: 130px;
        height: 40px;
        }
      }
    }

    .menu{
      text-align: left;

      ul{
        // padding-top: 1rem;

        li{
          line-height: 1.8rem;

          a{
            color: #9CA9BE;
          }
        }
      }
    }

    .contact{
      text-align: left;
      color: #9CA9BE;
      line-height: 1.8rem;
    }

    .get-in{
      text-align: right;
      color: #9CA9BE;

      h3{
        margin-right: 3.2rem;
      }

      .footer-icon{
        background: #2c343d;
        margin-right: 12px;
        padding: 12px;
        border-radius: 5px;

        &:hover {
          background: #40A9FF;
          color: $white-color;
        }
      }
      
    }
  }

  .footer{
    text-align: center;
    padding: 1.2rem;
    color: #9CA9BE;
  }
}
