
@import 'config';
@import 'utilities';

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Nunito Sans',-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', arial ,'Noto Sans', sans-serif;
  line-height: 1.6;
  background: $background-color;
}

a{
  text-decoration: none;
}

ul{
  list-style: none;
}

h2, h3, h4{
  // text-transform: uppercase;
}




//header
#header-home{
  background: $white-color;
  border-bottom: 1px $seperator-color solid;

  .big-header{
    display: grid;
    grid-template-columns: 1fr 7fr 2fr;
    padding: 0.5rem;
    align-items: center;

    a{
      img{
        align-items: center;
        text-align: center;
      }
    }

    .searchbar{
      align-items: center;
      text-align: left;
      .search{
        width: 85%;
        padding: 0 17px;
        height: 2.7rem;
        border: 2px $primary-color solid;
        border-radius: 5px 0 0 5px;
      }
      .search-icon{
         background: $primary-color;
         height: 2.7rem;
         padding: 0 29px;
         border: 2px $primary-color solid;
         border-radius: 0 5px 5px 0;
         margin-left: -5px;
         color: $white-color;
         cursor: pointer;

         .icon-bar{
          size: 1rem;
          
         }
      }
    }
    .icon-item{
      display: flex;
      justify-self: end;

      .item{
        padding: 0.75rem;
        border: none;
        align-items: center;

        .icons{
          border: none;
          background: $white-color;
          color: $icon-color;
          cursor: pointer;
        }
      }

      .separate{
        padding: 0.75rem 0.3rem;
        color: $icon-color;
      }
    }
  }
}


#main-nav{
  background: $white-color;

  .navber{
    display: grid;
    grid-template-columns: 1fr 6fr 4fr;
    // padding: 0.3rem;
    align-items: center;
    border-left: 1px $seperator-color solid;

    .bar-icon{
      text-align: center;
      align-items: center;
      margin: 1px 15px;
      
    }


    .nav-item-1{
      border-left: 1px $seperator-color solid;
      ul{
        display: flex;
        justify-self: left;

        li{
          padding:  0.75rem 2rem;
          margin-left: 0.5rem;
          // font-weight: bold;
        }
      }
    }

    .nav-item-2{
      border-left: 1px $seperator-color solid;
      ul{
        display: flex;
        justify-self: end;

        li{
          padding: 0.75rem 2rem;
          // font-weight: bold;
        }
      }
    }
  }
}